body {
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(
            -45deg
            , #7C4DFF 0%, #7C4DFF 33%, #00C853 100%);
    background-repeat: no-repeat;
}

@font-face {
    font-family: io;
    src: url("fonts/Bintank-PersonalUse.otf") format("opentype");
}

.btn, .btn-large, .btn-small{
    background-color: #00c853 !important;
}

#logoutLink{
    margin-top: -25px;
}

.container {
    width: 94%;
}

.text-error-404{
    font-size: 14px;
}

.toast {
    justify-content: flex-start;
    padding-left: 25px;
}

.btn-toast {
    right: 0;
    height: 100%;
    line-height: 45px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.creator-title-select{
    margin: 0;
    padding-left: 15px;
}

.margin-top-0{
    margin-top: 0;
}

.datepicker-table td {
    padding: 1px;
}

.jss196 {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
}

.dropdown-content li>a, .dropdown-content li>span {

    color: #7C4DFF !important;
}


#warningModal{
    min-height: 265px;
}

#user-search-result li>a>i, #user-search-result li>a>[class^="mdi-"], #user-search-result li>a li>a>[class*="mdi-"], #user-search-result li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0,0,0,0.54);
}

#user-search-result li>a:hover {
    background-color: rgba(0,0,0,0.05);
}

#user-search-result li>a {
    border-radius: 0 24px 24px 0;
    font-weight: 400;
    width: 100%;
}

#user-search-result{
    overflow: scroll;
    height: 100%;
}

.user-ul li>a>i, .user-ul li>a>[class^="mdi-"], .user-ul li>a li>a>[class*="mdi-"], .user-ul li>a>i.material-icons {
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 28px 0 0;
    width: 0px;
    color: rgba(0,0,0,0.54);
    font-size: 22px;
}

.user-ul li>a {
    cursor: unset;
    font-weight: 400;
    width: 100%;
}

.user-ul{
    height: 100%;
}

.user-li {
    font-size: 12px;
    margin-top: 0px;
    height: 25px;
}


.pl-15px{
    padding-left: 15px;
}



.li-search-user{
    font-size: 14px;
    margin-top: 4px;
}

#stepperSharedList{
    margin-top: -25px;
}

#sharedListNameInput{
    z-index: 10;
}

.datepicker-modal {
    width: 80%;
}

.datepicker-controls{
    padding-top: 10px;
}

.title-navbar{
    font-family: io, sans-serif;
    font-size: 28px;
}

.io-font{
    font-family: io, sans-serif;
}

.text-error-404{
    margin: 3px;
    color: rgb(98 88 88 / 87%);
}
.text-error-404.italic{
    font-style: italic;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting {
    background-image: url("https://cdn.datatables.net/1.10.24/images/sort_both.png");
}

table.dataTable thead .sorting_desc {
    background-image: url("https://cdn.datatables.net/1.10.24/images/sort_desc.png") !important;
}

table.dataTable thead .sorting_asc {
    background-image: url("https://cdn.datatables.net/1.10.24/images/sort_asc.png") !important;
}

.tabs{
    position: absolute;
    height: 75px;
    left: 0;
    top: 0;
    margin-bottom: 0;
    border-radius: 8px;
}

select {
    border-radius: 8px !important;
}

.container-404 {
    background-color: white;
    width: 90%;
    height: 76vh;
    margin: auto;
    border-radius: 8px;
    padding: 1%;
}

.bse_container {
    width: 400px;
    height: 340px;
    border-radius: 24px;
    background: url(../../res/images/best_solution_ever.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
}

input[type=search]::placeholder{
    font-size: 14px;
}

.tabs .tab {
    height: 75px;
    line-height: 75px;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #ede7f6 ;
    outline: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #7c4dff;
    font-weight: 600;
}

.tabs .tab a {
    color: #7c4dff;
    height: 72px;
}
.tabs .indicator {
    border-radius: 100px;
    background-color: #7c4dff;
}

.padding-left-20px{
    padding-left: 20px;
}

thead > tr > th:last-child{
    text-align: center !important;
}

thead > tr > th:first-child{
    padding-left: 5px;
}

::-webkit-scrollbar {
    width: 20px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Standard syntax */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.float-right

.show {
    opacity: 1;
    -webkit-animation: fadeIn 700ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeIn 700ms ease-in-out;
}

.hide {
    opacity: 0;
    -webkit-animation: fadeOut 700ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeOut 700ms ease-in-out;
}

#stepContent1 > .row.margin-stepper{
    margin-left: -40px;
    margin-top: 25px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.icon-input{
    top: 4px !important;
    left: 10px;
    font-size: 2.5rem !important;
    color: rgb(178 178 178);
}

ul.stepper.horizontal::before {
    -webkit-box-shadow: 0px 1px 8px 0px rgb(80 80 80 / 20%), 0px 3px 4px 0px rgb(80 80 80 / 14%), 0px 3px 3px -2px rgb(80 80 80 / 12%) !important;
    box-shadow: 0px 1px 8px 0px rgb(80 80 80 / 20%), 0px 3px 4px 0px rgb(80 80 80 / 14%), 0px 3px 3px -2px rgb(80 80 80 / 12%)!important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0px 1px 8px 0px rgb(80 80 80 / 20%), 0px 3px 4px 0px rgb(80 80 80 / 14%), 0px 3px 3px -2px rgb(80 80 80 / 12%) !important;
    box-shadow: 0px 1px 8px 0px rgb(80 80 80 / 20%), 0px 3px 4px 0px rgb(80 80 80 / 14%), 0px 3px 3px -2px rgb(80 80 80 / 12%)!important;
}

ul.stepper.horizontal .step.active .step-title::before, ul.stepper.horizontal .step.done .step-title::before {
    background-color: #00C853;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #00C853!important;
    -webkit-box-shadow: 0 1px 0 0 #00C853!important;
    box-shadow: 0 1px 0 0 #00C853!important;
}

input:not([type]):focus.valid ~ label, input[type=text]:not(.browser-default):focus.valid ~ label, input[type=password]:not(.browser-default):focus.valid ~ label, input[type=email]:not(.browser-default):focus.valid ~ label, input[type=url]:not(.browser-default):focus.valid ~ label, input[type=time]:not(.browser-default):focus.valid ~ label, input[type=date]:not(.browser-default):focus.valid ~ label, input[type=datetime]:not(.browser-default):focus.valid ~ label, input[type=datetime-local]:not(.browser-default):focus.valid ~ label, input[type=tel]:not(.browser-default):focus.valid ~ label, input[type=number]:not(.browser-default):focus.valid ~ label, input[type=search]:not(.browser-default):focus.valid ~ label, textarea.materialize-textarea:focus.valid ~ label {
    color: #00C853!important;
}

input {
    position: relative!important;
    display: flex!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
    -webkit-box-align: center!important;
    align-items: center!important;
    width: 85%;
    white-space: nowrap!important;
    background: none!important;
    outline: none!important;
    border-radius: 20px!important;
    color: #333 !important;
    border: 1px solid rgb(206, 208, 217)!important;
    appearance: none!important;
    font-size: 16px!important;
    transition: border 100ms ease 0s!important;
}

.btn-floating:hover {
    background-color: #1B5E20;
}

#firstStepLi{
    width: 100%;
}

.account-container-sidenav{
    position: absolute;
    bottom: 60px;
    height: 55px;
    padding: 0 10px;
}

.title-nav-wrapper{
    color: rgba(0, 0, 0, 0.87);
    height: 64px;
    margin: 0;
    display: flex;
    padding: 10px 10px 5px;
    position: relative;
    font-size: 16px;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    text-decoration: none;
}

.container-title-nav-wrapper{
    min-height: 64px;
}

.img-side-nav{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.42);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.42);
    width: 70%;
}

.sidenav li:last-child > a:hover {
    background-color: unset !important;
}

.sidenav li > a.active{
    color: #7C4DFF;
    background-color: rgba(0,0,0,0.05);
}

.sidenav li {
    margin-top: 8px;
}

.sidenav li>a.active:before {
    top: 0;
    left: 0;
    width: 5px;
    height: 55px;
    content: "";
    position: absolute;
    background: rgba(124, 77, 255, 0.5);
}

.sidenav li>a {
    border-radius: 0 24px 24px 0;
    font-size: 1rem;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    height: 55px;
    line-height: 52px;
}

.sidenav {
    width: 240px;
    padding-right: 12px;
    opacity: 0.95;
}

#stepperList{
    margin-top: -5px;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #00C853!important;
    padding: 0 1rem;
}
.datepicker-date-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: #69f0ae !important;
    color: #fff;
    padding: 20px 22px;
    font-weight: 500;
}

.custom-fab-button{
    position: absolute;
    bottom: -4px;
    right: 0;
}

.input-field .prefix ~ a {
    width: 86%;
    width: calc(100% - 3rem);
    margin-left: 3rem;
}

.title-header-modal{
    cursor: unset;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

#personnalLists{
    position: relative;
    padding-left: 1.25rem;
    margin-top: 55px;
}

#sharedLists{
    position: relative;
    padding-left: 1.25rem;
    margin-top: 55px;
}

#histoLists{
    position: relative;
    padding-left: 1.25rem;
}

.card-loader {
    margin: auto !important;
    border-radius: 8px !important;
    min-width: 45vh;
    padding: 3%;
    opacity: 0.9;
}

.select-wrapper.select-year > .select-dropdown.dropdown-trigger{
    border: none!important;
}

.select-wrapper.select-month > .select-dropdown.dropdown-trigger{
    border: none!important;
}

.datepicker-table td.is-selected {
    background-color: #69f0ae!important;
    color: white!important;
}

.datepicker-table td.is-today {
    color: #00C853;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border: 1px solid #00C853 !important;
    border-bottom: 1px solid #00C853 !important;
    -webkit-box-shadow: 0 1px 0 0 #00C853 !important;
    box-shadow: 0 1px 0 0 #00C853 !important;
}
.validate.valid {
    border-bottom: 1px solid #00C853 !important;
    -webkit-box-shadow: 0 1px 0 0 #00c853 !important;
    box-shadow: 0 1px 0 0 #00c853 !important;
}
.input-field .prefix.active {
    color: #00C853;
}

ul.stepper .step.active::before, ul.stepper .step.done::before {
    background-color: #00C853 !important;
}

.fixed-action-btn {
    right: 46px;
    bottom: 34px;
}

#content{
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    width: 100%;
}

.first-layer{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.material-tooltip{
    padding: 12px 16px;
    border-radius: 24px;
}

.material-tooltip .backdrop{
    border-radius: 20px;
}
.card-panel {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nav-bar-color{
    background-color: transparent;
}

.preloader-wrapper{
    margin: auto !important;
}

th{
    font-weight: 600;
}

td {
    text-transform: capitalize;
    font-size: 10px;
}

.dataTables_wrapper{
    position: relative;
}

.fixed-action-btn{
    z-index: 99!important;
}

.dataTables_filter {
    width: 52%;
    position: absolute;
    top: -12px;
    right: 0;
}

.dataTable{
    position: relative;
    max-height: 600px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.copyButton{
    background-color: black;
}

.dataTables_length {
    width: 50%;
    margin-bottom: 10px;
}

select[name="datatablePerso_length"] {
    display: block;
    width: 50px;
    margin-top: -8px;
    margin-left: 8px;
    margin-right: 8px;
    height: 30px;
    border-radius: 8px;
}

select[name="datatableShared_length"] {
    display: block;
    width: 50px;
    margin-top: -8px;
    margin-left: 8px;
    margin-right: 8px;
    height: 30px;
}

select[name="datatableHisto_length"] {
    display: block;
    width: 50px;
    margin-top: -8px;
    margin-left: 8px;
    margin-right: 8px;
    height: 30px;
}

.dataTables_length > label{
    display: flex;
}

nav ul a.btn-medium>.material-icons {
    line-height: 42px;
}

.btn-medium{
    width: 42px!important;
    height: 42px!important;
}

.btn-medium {
    background-color: white !important;
}

.custom-bg-color{
    background-color: #7C4DFF!important;
}

.custom-bg-color2{
    background-color: #00C853!important;
}

.custom-bg-white{
    background-color: #EDE7F6;
}

.custom-shadow-color{
    box-shadow: 0 2px 40px -5px #7c4dff;
}

.custom-color{
    color: #7C4DFF !important;
}

.custom-overlay{

}

.sidenav-overlay {
    height: 100vh !important;
}

.text-empty-list{
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 35px;
}

#register-page {
    margin: auto !important;
    max-height: 94vh;
}

#emailSideNav{
    color: rgba(0,0,0,0.87);
    padding: 0 10px;
}

.account-icon-sidenav{
    margin: 0 10px 0 0 !important;
}

#usernameSideNav{
    color: rgba(0,0,0,0.87);
}

.sorting{
    font-size: 12px;
}

#login-page{
    margin: auto !important;
}

.flex{
    display: flex;
}

.login-form{
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 72px;
}

.login-header{
    padding-left: 10px!important;
}

.loader-text {
    color: #333;
}

.loader-container {
    position: absolute;
    margin: auto;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #00000059;
    text-align: center;
    z-index: 1000;
}

.warning-list-icon {
    position: absolute;
    left: 5px;
}

.padding-30px{
    padding: 30px;
}

.pointer{
    cursor: pointer;
}

.modal-content{
    text-align: center;
}
.smallThumbnail{
    cursor: pointer;
    max-width: 130px;
}

.dropdown-content{
    border-radius: 8px;
}

.container-search-user{
    max-height: 0px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.12);
    background-color: white;
    position: absolute;
    width: 94%;
    z-index: 10;
    opacity: 0.9;
}

.table-container{
    height: 110px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.step-content{
    overflow: hidden !important;
}

.row-product-header{
    margin-top: 0px;
    text-align: left;
}

.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

.mt-0{
    margin-top: 0px;
}

.short-link:hover {
    text-decoration: underline !important;
}

.input-field .prefix {
    font-size: 42px;
    margin-left: -15px!important;
    top: -2px!important;
}

.padding-bottom-5px{
    padding-bottom: 5px !important;
}

.pb-20px{
    padding-bottom: 20px !important;
}

.button-modal{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.ml-15px{
    margin-left: 15px;
}

.sidenav .user-view {
    margin-bottom: 40px;
}

.sidenav .user-view .name {
    margin-top: 0px!important;
    font-weight: 500;
}

.btn-floating.btn-small.green.lighten-4.mr-5px.current{
    background-color: #00C853 !important;
}

.btn-floating.btn-small.green.lighten-4.mr-5px:hover{
    background-color: #00C853 !important;
}

.dataTables_info {
    text-align: left;
    margin-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.12);
    padding-top: 12px;
    font-size: 11px;
}

.dataTables_paginate{
    text-align: left;
    margin-top: 10px;
}

.mr-30px{
    margin-right: 30px;
}

.mr-5px{
    margin-right: 5px;
}

#nav-mobile{
    display: block !important;
}

.mt-30px{
    margin-top: 20px;
}

.logo {
    width: 45px;
    margin-right: 18px;
    margin-top: 8px;
    -webkit-box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 42%);
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 42%);
}

.btn-search{
    width: 35px;
    padding: 2px;
    padding-right: 8px;
    right: 15px;
}

.td-product-width{
    width: 100px;
}

#login-page {
    width: 94%;
}

#register-page{
    width: 94%;
}

#second-stepper-shortcut{
    width: 100%;
    height: 100%;
    line-height: 55px;
}

.margin-stepper{
    margin-left: -120px;
    margin-top: 25px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height: 2rem;
    width: 80%;
}

.input-field.col label {
    left: 2rem;
    top: -6px;
}

.color-icon-grey{
    color: rgb(178 178 178);
}

.step-content{
    margin-right: 0 !important;
    margin-left: 18px!important;
}

td, th {
    padding: 3px 3px;
}

.search-icon {
    float: right;
    right: 8px;
    top: 8px;
    position: absolute;
    color: #9e9e9e75;
    font-size: 18px;
    cursor: pointer;
}

.position-relative{
    position: relative;
}

#listProductContainer > tr > td > .round-quantity{
    position: relative !important;
}

.filled-in:checked+span:not(.lever):after {
    border: 2px solid #7c4dff!important;
    background-color: #7c4dff!important;
}

.margin-auto{
    margin: auto;
}

.round-quantity {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #00c853;
    color: white;
    text-align: center;
    line-height: 18px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: -2px;
}

.container {
    background-color: white;
    border-radius: 8px;
    padding: 2%;
    min-height: 55vh;
    position: relative;
    box-shadow: 0px 1px 8px 0px rgb(80 80 80 / 20%), 0px 3px 4px 0px rgb(80 80 80 / 14%), 0px 3px 3px -2px rgb(80 80 80 / 12%);
}

.sur-container {
    background-color: white;
    border-radius: 8px;
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 94%;
    box-shadow: 0px 1px 8px 0px rgb(80 80 80 / 20%), 0px 3px 4px 0px rgb(80 80 80 / 14%), 0px 3px 3px -2px rgb(80 80 80 / 12%);
    margin-bottom: 20px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.icon-table{
    font-size: 18px;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    width: 14px;
    height: 14px;
}

[type="checkbox"]:checked+span:not(.lever):before {
    width: 12px;
    height: 18px;
}

.btn-floating.btn-large {
    width: 50px;
    height: 50px;
    padding: 0;
}

.btn-floating.btn-large i {
    line-height: 50px;
}

.btn-floating.btn-small {
    width: 26.4px;
    height: 26.4px;
}

.btn-small {
    line-height: 26.4px;
}

@media only screen and (min-width: 601px){
    .sur-container {
        width: 96%;
    }
    .container {
        width: 96%;
    }
}

@media only screen and (min-width: 1600px){

    .text-error-404{
        font-size: 15px !important;
    }

    .container-404 {
        width: 86%;
    }

    .datepicker-table td {
        min-width: 70px !important;
    }

    .table-container {
        height: 180px !important;
    }

    #title-navbar-fixed{
        display: none;
    }

    #nav-mobile{
        display: none;
    }

    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
        height: 2.5rem !important;
    }

    #emailSideNav-sidenav-fixed{
        padding: 0;
    }

    .sur-container {
        background-color: white;
        border-radius: 8px;
        position: relative;
        margin: 0 auto;
        max-width: 1280px;
        margin-bottom: 10px;
        margin-top: 20px;
        width: 90%;
        box-shadow: 0px 1px 8px 0px rgb(80 80 80 / 20%), 0px 3px 4px 0px rgb(80 80 80 / 14%), 0px 3px 3px -2px rgb(80 80 80 / 12%);
        margin-bottom: 10px !important;
    }

    .sur-container{
        max-width: 1500px !important;
    }

    .sidenav .user-view {
        padding: 32px 32px 0 !important;
    }


    #title-navbar-fixed{
        margin-left: 0 !important;
    }

    #block-title-sidenav-fixed{
        display: block !important;
    }

    .sidenav.sidenav-fixed{
        width: 25vh !important;
    }

    #content{
        width: 100%;
        margin: 10px 108px !important;
        position: unset;
        top: unset;
        transform: unset;
    }

    .container {
        max-height: 90vh;
        margin: 0 auto;
        max-width: 1500px !important;
    }

    .datepicker-modal {
        max-width: 900px;
    }

    .tabs{
        margin-bottom: 0px;
    }

    .row {
        margin-bottom: 20px!important;
    }

    .container {
        min-height: 55vh!important;
    }

    .search-icon {
        right: 16px !important;
        top: 12px !important;
        font-size: 24px!important;
    }

    td {
        text-transform: capitalize;
        font-size: unset !important;
    }

    td, th {
        padding: 15px 5px!important;
    }

    .input-field.col label {;
        top: -4px;
    }

    .title-header-modal>i{
        font-size: 2rem;
    }

    .margin-stepper{
        margin-left: -125px;
        margin-top: 55px;
    }

    #second-stepper-shortcut{
        line-height: 74px !important;
    }

    #addListModal{
        min-height: 68vh !important;
    }

    .mt-30px{
        margin-top: 30px;
    }

    .login-form{
        padding-bottom: 0px;
        padding-top: 20px;
        padding-left: 35px;
        padding-right: 72px;
    }

    #login-page{
        margin-top: 100px;
    }

    #register-page {
        margin-top: 50px;
    }

    .dataTables_info {
        font-size: 15px !important;
    }

}

@media only screen and (min-width: 893px) {




    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
        height: 2rem;
        width: 92%;
    }

    .container {
        min-height: 55vh;
    }

    .search-icon {
        right: 22px;
        top: 6px;
        font-size: 20px;
    }

    .tabs{
        margin-bottom: 0px;
    }

    td {
        font-size: 11px;
    }

    .icon-table {
        font-size: 22px;
    }
}

@media only screen and (min-width: 993px){

    #logoutLink{
        margin-top: -10px;
    }

    ul.stepper.horizontal .step {
        margin-top: 5px;
    }

    ul.stepper.horizontal::before {
        margin-top: 5px;
    }

    .sidenav .user-view {
        padding: 0px 12px 0;
    }

    #title-navbar-fixed{
        margin-left: 55px;
    }


    #block-title-sidenav-fixed{
        display: none;
    }

    .sidenav.sidenav-fixed{
        width: 15vh;
    }

    #content {
        width: 100%;
        margin: 18px 52px;
    }

    .container {
        margin: 0 auto;
    }

    .btn-floating.btn-small {
        width: 32.4px;
        height: 32.4px;
    }

    .btn-small {
        line-height: 32.4px;
    }

    .btn-floating.btn-large {
        width: 56px;
        height: 56px;
        padding: 0;
    }

    .btn-floating.btn-large i {
        line-height: 56px;
    }


    [type="checkbox"]:checked+span:not(.lever):before {
        width: 12px;
        height: 22px;
    }

    [type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
        width: 18px;
        height: 18px;
    }

    .icon-table{
        font-size: 24px;
    }

    .tabs{
        margin-bottom: 0px;
    }

    .sorting{
        font-size: unset;
    }

    .row {
        margin-bottom: 5px;
    }

    td, th {
        padding: 0px 0px;
    }

    .container {
        min-height: 65vh;
    }

    .search-icon {
        right: 16px;
        top: 10px;
        font-size: 24px;
    }

    .sur-container {
        width: 96%;
    }

    .container {
        width: 96%;
    }

    td {
        text-transform: capitalize;
        font-size: 14px;
    }

    input {
        width: 94% !important;
    }

    #firstStepLi {
        width: 82%;
    }

    #second-stepper-shortcut{
        line-height: 72px;
    }

    ul.stepper.horizontal .step:last-of-type {
        width: 22% !important;
    }

    ul.stepper.horizontal .step.active~.step .step-content {
        left: 101%;
    }

    ul.stepper.horizontal::before {
        border-radius: 8px;
    }

    .dataTables_info {
        text-align: left;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .dataTables_paginate{
        text-align: left;
        margin-top: 6px;
    }

    .dataTables_filter{
        position: absolute;
        top: -20px;
        right: 0;
    }

    .dataTables_length {
        width: 20%;
        margin-bottom: 25px;
    }

    #login-page{
        width: 40%;
    }

    #register-page{
        width: 40%;
    }

    .login-header{
        padding-left: 0px!important;
    }


    .td-product-width{
        width: 190px !important;
    }


    ul.stepper.horizontal {
        min-height: 508px !important;
    }

    .logo {
        width: 45px !important;
        margin-right: 20px !important;
        margin-top: 8px !important;
    }

    .btn-search{
        width: 50px !important;
        padding: 0 16px !important;
        padding-top: 0px !important;
        padding-right: 16px !important;
        padding-bottom: 0px !important;
        padding-left: 16px !important;
        right: unset !important;
    }

    .subtitlePage{
        margin-top: 6px;
        margin-left: -40px;
        font-size: 2.28rem;
    }

}
@media only screen and (max-width: 992px){
    .modal {
        width: 92% !important;
    }
}
.modal-header{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    text-align: center;
    height: 85px;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    padding: 6px;
    padding-left: 80px;
    width: 100%;
}

.shadow{
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.modal-content{
    padding-top: 0px;
    padding-bottom: 0px;
}
.modal{
    overflow-x: hidden;
    border-radius: 8px;
    top: 50% !important;
    transform: translateY(-50%)!important;
}

#addListModal{
    min-height: 96vh;
    overflow: hidden;
}

#addSharedListModal{
    overflow: hidden;
    min-height: 96vh;
}

.mb-10px{
    margin-bottom: 10px;
}

.mt-55px{
    margin-top: 55px;
}
.mt-25px{
    margin-top: 25px;
}

.mt-14px{
    margin-top: 14px;
}

.mt-18px{
    margin-top: 18px;
}

.ml-20px{
    margin-left: 20px;
}

.subtitlePage{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #7c4dff;
}

.row.sur-container > .input-field.col.s2.text-align-center > .material-icons.prefix{
    color: #7c4dff;
}

/*
 * Stepper Default Values
 */
input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #2bbbad !important;
    -webkit-box-shadow: 0 1px 0 0 #2bbbad !important;
    box-shadow: 0 1px 0 0 #2bbbad !important;
}

input:not([type]):focus.valid ~ label, input[type=text]:not(.browser-default):focus.valid ~ label, input[type=password]:not(.browser-default):focus.valid ~ label, input[type=email]:not(.browser-default):focus.valid ~ label, input[type=url]:not(.browser-default):focus.valid ~ label, input[type=time]:not(.browser-default):focus.valid ~ label, input[type=date]:not(.browser-default):focus.valid ~ label, input[type=datetime]:not(.browser-default):focus.valid ~ label, input[type=datetime-local]:not(.browser-default):focus.valid ~ label, input[type=tel]:not(.browser-default):focus.valid ~ label, input[type=number]:not(.browser-default):focus.valid ~ label, input[type=search]:not(.browser-default):focus.valid ~ label, textarea.materialize-textarea:focus.valid ~ label {
    color: #2bbbad!important;
}

input:not([type]).invalid ~ .helper-text:after, input:not([type]):focus.invalid ~ .helper-text:after, input[type=text]:not(.browser-default).invalid ~ .helper-text:after, input[type=text]:not(.browser-default):focus.invalid ~ .helper-text:after, input[type=password]:not(.browser-default).invalid ~ .helper-text:after, input[type=password]:not(.browser-default):focus.invalid ~ .helper-text:after, input[type=email]:not(.browser-default).invalid ~ .helper-text:after, input[type=email]:not(.browser-default):focus.invalid ~ .helper-text:after, input[type=url]:not(.browser-default).invalid ~ .helper-text:after, input[type=url]:not(.browser-default):focus.invalid ~ .helper-text:after, input[type=time]:not(.browser-default).invalid ~ .helper-text:after, input[type=time]:not(.browser-default):focus.invalid ~ .helper-text:after, input[type=date]:not(.browser-default).invalid ~ .helper-text:after, input[type=date]:not(.browser-default):focus.invalid ~ .helper-text:after, input[type=datetime]:not(.browser-default).invalid ~ .helper-text:after, input[type=datetime]:not(.browser-default):focus.invalid ~ .helper-text:after, input[type=datetime-local]:not(.browser-default).invalid ~ .helper-text:after, input[type=datetime-local]:not(.browser-default):focus.invalid ~ .helper-text:after, input[type=tel]:not(.browser-default).invalid ~ .helper-text:after, input[type=tel]:not(.browser-default):focus.invalid ~ .helper-text:after, input[type=number]:not(.browser-default).invalid ~ .helper-text:after, input[type=number]:not(.browser-default):focus.invalid ~ .helper-text:after, input[type=search]:not(.browser-default).invalid ~ .helper-text:after, input[type=search]:not(.browser-default):focus.invalid ~ .helper-text:after, textarea.materialize-textarea.invalid ~ .helper-text:after, textarea.materialize-textarea:focus.invalid ~ .helper-text:after, .select-wrapper.invalid ~ .helper-text:after {
    content: attr(data-error);
    color: orange!important;
}

input.invalid:not([type]), input.invalid:not([type]):focus, input.invalid[type=text]:not(.browser-default), input.invalid[type=text]:not(.browser-default):focus, input.invalid[type=password]:not(.browser-default), input.invalid[type=password]:not(.browser-default):focus, input.invalid[type=email]:not(.browser-default), input.invalid[type=email]:not(.browser-default):focus, input.invalid[type=url]:not(.browser-default), input.invalid[type=url]:not(.browser-default):focus, input.invalid[type=time]:not(.browser-default), input.invalid[type=time]:not(.browser-default):focus, input.invalid[type=date]:not(.browser-default), input.invalid[type=date]:not(.browser-default):focus, input.invalid[type=datetime]:not(.browser-default), input.invalid[type=datetime]:not(.browser-default):focus, input.invalid[type=datetime-local]:not(.browser-default), input.invalid[type=datetime-local]:not(.browser-default):focus, input.invalid[type=tel]:not(.browser-default), input.invalid[type=tel]:not(.browser-default):focus, input.invalid[type=number]:not(.browser-default), input.invalid[type=number]:not(.browser-default):focus, input.invalid[type=search]:not(.browser-default), input.invalid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.invalid, textarea.materialize-textarea.invalid:focus, .select-wrapper.invalid>input.select-dropdown, .select-wrapper.invalid>input.select-dropdown:focus {
    border: 1px solid orange!important;
    -webkit-box-shadow: 0 1px 0 0 orange!important;
    box-shadow: 0 1px 0 0 orange!important;
}

input:not([type]):focus.invalid ~ label, input[type=text]:not(.browser-default):focus.invalid ~ label, input[type=password]:not(.browser-default):focus.invalid ~ label, input[type=email]:not(.browser-default):focus.invalid ~ label, input[type=url]:not(.browser-default):focus.invalid ~ label, input[type=time]:not(.browser-default):focus.invalid ~ label, input[type=date]:not(.browser-default):focus.invalid ~ label, input[type=datetime]:not(.browser-default):focus.invalid ~ label, input[type=datetime-local]:not(.browser-default):focus.invalid ~ label, input[type=tel]:not(.browser-default):focus.invalid ~ label, input[type=number]:not(.browser-default):focus.invalid ~ label, input[type=search]:not(.browser-default):focus.invalid ~ label, textarea.materialize-textarea:focus.invalid ~ label {
    color: orange!important;
}

ul.stepper .step.wrong::before {
    background-color: orange!important;
}

ul.stepper.horizontal .step.wrong .step-title::before {
    background-color: orange!important;
}

nav a.sidenav-trigger {
    display: block !important;
}

ul.stepper {
    overflow-y: unset !important;
    overflow-x: unset !important;
}


@media (max-width: 850px) and (orientation: landscape) {

    .navbar-fixed {
        width: 10%;
    }

    td, th {
        padding: 0px 0px;
    }

    .tabs {
        height: 45px;
    }

    .tabs .tab {
        height: 45px;
        line-height: 45px;
    }


    #personnalLists {
        padding-left: 1rem;
        margin-top: 20px;
    }

    #sharedLists {
        padding-left: 1rem;
        margin-top: 20px;
    }

    #histoLists {
        padding-left: 1rem;
        margin-top: 20px;
    }

    .account-container-sidenav{
        display: none;
    }

    .container-title-nav-wrapper{
        display: none;
    }

    .title-navbar{
        display: none;
    }

    #content {
        top: 50%;
    }

    .container {
        min-height: 84vh;
        max-height: 96vh;
        overflow: hidden;
        width: 90%;
        margin-left: 8%;
    }

    .nav-bar-color{
        width: 10%;
        box-shadow: none !important;
    }

    .sur-container {
        width: 90%;
        margin-left: 8%;
        margin-top: 0px;
        margin-bottom: 2px !important;
    }

    input {
        font-size: 13px!important;
    }

    .subtitlePage {
        font-size: 1rem;
    }

    .input-field .prefix {
        font-size: 26px;
    }

    ul.stepper .step .step-title {
        padding: 10px;
        line-height: 22px !important;
    }

    ul.stepper .step .step-content .step-actions {
        padding-top: 2px;
        padding-bottom: 4px;
        display: flex;
        justify-content: flex-start;
    }

    .modal .modal-content {
        padding: 10px;
    }

    ul.stepper .step.active .step-title {
        padding: 10px;
        line-height: 22px !important;
    }

    ul.stepper .step.active .step-content {
        margin-top: -8px;
    }

    ul.stepper>li:not(:last-of-type) {
        padding-bottom: 5px;
    }

    .table-container {
        height: 75px;
    }

    ul.stepper .step .step-content .row {
        margin-bottom: 4px;
    }

    #subtitleStep1Shared{
        display: none;
    }

    #subtitleStep2Shared{
        display: none;
    }

    #subtitleStep3Shared{
        display: none;
    }

    #subtitleStep1{
        display: none;
    }

    #subtitleStep2{
        display: none;
    }

    .title-header-modal {
        font-size: 16px;
    }

    .sur-container > .input-field.col.s2.text-align-center{
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    .btn-large {
        line-height: 50px;
    }

    .btn-large i {
        font-size: 1.4rem;
    }

    .btn-floating.btn-large {
        width: 40px;
        height: 40px;
        padding: 0;
    }

    .modal-header {
        height: 40px;
    }

    .input-field {
        position: relative;
        margin-top: 0.25rem;
    }

    .input-field.col label {
        top: -12px;
    }

    .btn-floating.btn-large i {
        line-height: 40px;
    }

    .mt-55px {
        margin-top: 0px;
    }

    .sur-container > .input-field.col.s10{
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    .nav .nav-wrapper{
        width: 10%;
    }

    .logo{
        display: none;
    }

    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
        height: 1.5rem;
        width: 90%;
    }

    .dataTables_filter {
        top: -4px;
    }

    .search-icon {
        top: 4px;
    }

    .sidenav{
        -webkit-box-shadow: unset !important;
        box-shadow: unset!important;
        width: 10%;
    }

}