
<div class="row sur-container">
    <div class="input-field col s2 text-align-center">
        <i class="material-icons prefix">person</i>
    </div>
    <div class="input-field col s10">
        <h4 class="subtitlePage">Compte</h4>
    </div>
</div>
<div class="container">

    <div class="row mt-25px" >
        <div class="input-field col s2"></div>
        <div class="input-field col s8">
            <i class="material-icons prefix color-icon-grey">account_circle</i>
            <input id="userNameInput" type="text" class="validate" disabled>
            <label class="active" for="userNameInput">Pseudo</label>

        </div>
        <div class="input-field col s2"></div>

        <div class="input-field col s12"></div>

        <div class="input-field col s2"></div>
        <div class="input-field col s8">
            <i class="material-icons prefix color-icon-grey">mail</i>
            <input type="text" class="validate" id="emailAccount" disabled>
            <label class="active" for="emailAccount">Email</label>
        </div>
        <div class="input-field col s2"></div>

        <div class="input-field col s12"></div>

        <div class="input-field col s2"></div>
        <div class="input-field col s8">
            <i class="material-icons prefix color-icon-grey">date_range</i>
            <input type="text" class="validate" id="dateCreatedAccount" disabled>
            <label class="active"for="dateCreatedAccount">Date de création</label>
        </div>
        <div class="input-field col s2"></div>

    </div>

    <a id="logoutLink" onclick="accountController.logout()" class="btn-floating btn-large right orange tooltipped" data-position="left" data-tooltip="Se déconnecter">
        <i class="large material-icons">undo</i>
    </a>

</div>
