
<div class="row sur-container">
    <div class="input-field col s2 text-align-center">
        <i class="material-icons prefix">restore</i>
    </div>
    <div class="input-field col s10">
        <h4 class="subtitlePage">Historique</h4>
    </div>
</div>
<div class="container">
    <table id="datatableHisto" class="mt-30px" style="position: relative">
        <thead>
            <th>Réalisée</th>
            <th>Nom</th>
            <th>Date</th>
            <th class="td-product-width">Produits</th>
            <th class="text-align-center">Action</th>
        </thead>
        <tbody id="list_container"></tbody>
    </table>
</div>
