<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="tabs" style="overflow: hidden;">
                <li class="tab waves-effect col s6"><a id="indicator-personnalLists" class="active" href="#personnalLists" onclick="indexController.swicthIndicator('personnalLists')"  >Mes Listes Personnelles</a></li>
                <li class="tab waves-effect col s6"><a id="indicator-sharedLists" href="#sharedLists" onclick="indexController.swicthIndicator('sharedLists')">Mes Listes Partagées</a></li>
            </ul>
        </div>

        <div id="personnalLists" class="col s12">
            <div class="row mt-30px">
                <!--
                <div class="input-field col s1">
                    <i class="material-icons prefix">format_list_bulleted</i>
                </div>

                <div class="input-field col s11">
                    <h4 class="subtitlePage">Mes Listes Personnelles</h4>
                </div>
                -->
            </div>
            <table id="datatablePerso" style="position: relative">
                <thead>
                    <th>Réalisée</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th class="td-product-width">Produits</th>
                    <th>Action</th>
                </thead>
                <tbody id="list_container"></tbody>
                <div id="listAddFabButton"  style="display: none;">
                    <a onclick="indexController.modalList('add')" id="addPulseButton" class="btn-floating custom-fab-button btn-large custom-bg-color2 tooltipped" data-position="left" data-tooltip="Ajouter">
                        <i class="large material-icons">add</i>
                    </a>
                </div>
            </table>
        </div>

        <div id="sharedLists" class="col s12">
            <div class="row mt-30px">
                <!--
                <div class="input-field col s1">
                    <i class="material-icons prefix">format_list_bulleted</i>
                </div>
                <div class="input-field col s11">
                    <h4 class="subtitlePage">Mes Listes Partagées</h4>
                </div>
                -->
            </div>
            <table id="datatableShared" style="position: relative">
                <thead>
                <th>Réalisée</th>
                <th>Nom</th>
                <th>Date</th>
                <th class="td-product-width">Produits</th>
                <th>Utilisateurs</th>
                <th>Créateur</th>
                <th>Action</th>
                </thead>
                <tbody id="list_container_shared"></tbody>
                <div >
                    <a id="sharedListAddFabButton" onclick="indexController.modalSharedList('add')" class="btn-floating btn-large custom-fab-button custom-bg-color2 tooltipped" data-position="left" data-tooltip="Ajouter">
                        <i class="large material-icons">add</i>
                    </a>
                </div>
            </table>

        </div>
    </div>

</div>



